:host {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.feed {
  position: relative;
  overflow-y: scroll;
 // border: 1px solid black;
  > button {
    position: absolute;
    /* bottom: 30px; */
    /* right: 0px; */
    top: -25px;
    left: calc(50% - 25px);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 2;
  }

  .text-center {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
